<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Modificacion</title>
  </head>
  <body>

    <h1>Modificacion:</h1>
    <form class="" action="/modCancion/" method="post">
      Id de cancion:
    <input type="number" name="id" value="">
      Nombre de cancion:
    <input type="text" name="nom_cancion" value="">
      Descripcion de cancion:
    <input type="text" name="desc_cancion" value="">
    <input type="submit" name="" value="Enviar">
    </form>
    <br>

    {{ estado }}

    <br>
    <br>

    <a href="/principal/">Volver</a>


  </body>
</html>
