<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Principal</title>
  </head>
  <body>


    <h1>{{ dato }}</h1>

    <h1>¿Que deseas hacer?:</h1>


    <h1>
    Canciones:<br>
    <a href="/altaCancion/">Alta</a><br>
    <a href="/bajaCancion/">Baja</a><br>
    <a href="/modCancion/">Modificar</a><br>
    <a href="/listarCancion/">Listar</a><br><br>

    Usuarios:<br>
    </h1>
    <a href="/altaUsuario/">Alta</a><br>
    <a href="/bajaCancion/">Baja</a><br>
    <a href="/modCancion/">Modificar</a><br>
    <a href="/listarCancion/">Listar</a><br><br>
    <br>
    <a href="/logout/">Salir</a>
    <br>
    <br>


  </body>
</html>
