<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alta user</title>
  </head>
  <body>

    <h1>Alta:</h1>
      <form class="" action="/altaUsuario/" method="post">
        Username:
      <input type="text" name="usuario" value="">
        password:
      <input type="password" name="contraseña" value="">
      <input type="submit" name="" value="Enviar">
      </form>
      <br>

      {{ estado }}

      <br>
      <br>

      <a href="/principal/">Volver</a>

  </body>
</html>
